Repository Azure/co-op-translator, pull requests merged in 2025-08, with the labels that each got.

#201 Docs: Upgrade Korean translations from GPT-4o to GPT-5 via Azure OpenAI
  .gitignore
  translations/ko/CODE_OF_CONDUCT.md
  translations/ko/CONTRIBUTING.md
  translations/ko/README.md
  translations/ko/SECURITY.md
  translations/ko/SUPPORT.md
  translations/ko/getting_started/command-line-guide/command-line-guide.md
  translations/ko/getting_started/command-line-guide/create-env-file.md
  translations/ko/getting_started/command-line-guide/install-package.md
  translations/ko/getting_started/command-line-guide/translator-your-project.md
  translations/ko/getting_started/command-reference.md
  translations/ko/getting_started/github-actions-guide/github-actions-guide-org.md
  translations/ko/getting_started/github-actions-guide/github-actions-guide-public.md
  translations/ko/getting_started/markdown-only-mode.md
  translations/ko/getting_started/set-up-azure-ai.md
  translations/ko/getting_started/supported-languages.md
  translations/ko/getting_started/troubleshooting.md
Labels: documentation

#198 Add Lithuanian (lt) language support
  src/co_op_translator/fonts/font_language_mappings.yml
Labels: language-support

#203 Core: Enable hash-based change detection for notebook translator
  README.md
  getting_started/command-line-guide/translator-your-project.md
  getting_started/command-reference.md
  getting_started/markdown-only-mode.md
  getting_started/troubleshooting.md
  pyproject.toml
  src/co_op_translator/cli/translate.py
  src/co_op_translator/config/font_config.py
  src/co_op_translator/config/vision_config/azure_computer_vision.py
  src/co_op_translator/config/vision_config/config.py
  src/co_op_translator/core/llm/jupyter_notebook_translator.py
  src/co_op_translator/core/llm/markdown_evaluator.py
  src/co_op_translator/core/llm/markdown_translator.py
  src/co_op_translator/core/project/project_translator.py
  src/co_op_translator/core/project/translation_manager.py
  src/co_op_translator/core/vision/image_translator.py
  src/co_op_translator/core/vision/providers/azure/image_translator.py
  src/co_op_translator/utils/common/metadata_utils.py
  src/co_op_translator/utils/llm/markdown_utils.py
  tests/co_op_translator/core/llm/test_jupyter_notebook_translator.py
  tests/co_op_translator/core/llm/test_markdown_evaluator.py
  tests/co_op_translator/core/project/test_jupyter_notebook_integration.py
  tests/co_op_translator/core/project/test_project_translator.py
  tests/co_op_translator/core/project/test_translation_manager.py
  tests/co_op_translator/utils/common/test_metadata_utils.py
  tests/co_op_translator/utils/llm/test_markdown_utils.py
Labels: documentation, build, core, tests

#205 Core: Implement structured outputs to resolve translation issues
  src/co_op_translator/core/llm/text_translator.py
  src/co_op_translator/utils/llm/text_utils.py
  tests/co_op_translator/core/llm/test_jupyter_notebook_translator.py
  tests/co_op_translator/core/llm/test_markdown_evaluator.py
  tests/co_op_translator/core/llm/test_text_translator.py
  tests/co_op_translator/core/project/test_translation_manager.py
  tests/co_op_translator/core/vision/test_image_translator.py
  tests/co_op_translator/utils/common/test_metadata_utils.py
  tests/co_op_translator/utils/llm/test_text_utils.py
Labels: core, tests

#206 Remove unwanted numbering from image translation prompts
  src/co_op_translator/utils/llm/text_utils.py
  tests/co_op_translator/utils/llm/test_text_utils.py
Labels: tests

#207 Add migrate-links command
  getting_started/command-reference.md
  pyproject.toml
  src/co_op_translator/__main__.py
  src/co_op_translator/cli/migrate_links.py
  src/co_op_translator/utils/common/file_utils.py
  src/co_op_translator/utils/llm/markdown_utils.py
  tests/co_op_translator/utils/common/test_file_utils.py
  tests/co_op_translator/utils/llm/test_markdown_utils.py
  tests/co_op_translator/utils/llm/test_text_utils.py
Labels: documentation, build, tests

#208 Build: Update version to 0.10.0-pre.2
  pyproject.toml
Labels: build

#210 Resolved #209: Add a separator line before the "Disclaimer" text.
  src/co_op_translator/core/llm/markdown_translator.py
Labels: core

#212 Build: Upgrade version to v0.10.0rc3
  pyproject.toml
Labels: build
