Repository Azure/co-op-translator, pull requests merged in 2025-06, with the labels that each got.

#131 Add burmese language
  src/co_op_translator/fonts/NotoSansMyanmar-Medium.ttf
  src/co_op_translator/fonts/font_language_mappings.yml
Labels: language-support

#135 Docs: Update supported languages table to include Burmese (Myanmar)
  README.md
  getting_started/supported-languages.md
Labels: documentation

#141 Update README.md (Untranslated "Fill in the required API keys～")
  translations/ja/README.md
Labels: documentation

#142 Docs: Update the Macau (mo) translation to resolve issues with mixed languages and improve translation consistency
  translated_images/add-secrets-done.b23043ce6cec6b73d6da4456644bf37289dd678e36269b2263143d24e8b6cf72.mo.png
  translated_images/architecture_241019.15de09d63bf3f7065d5da8ac1e08948c9d3bf795aae3b7f6f8d3cce53c95d00b.mo.png
  translated_images/co-op-translator-example.4da2a4b9619a9c2024aa02e1b141754ef25805a7ae02a13185b884d8dccabd21.mo.png
  translated_images/find-azure-ai-info.60f8299be786dd67e61e2c79b4b9ea1f7694e6c0923f17a90bc6abf9d5f1dbd7.mo.png
  translated_images/generate-private-key.99f5b19b552439b07fe0b61934508c01fcfa01f62c370bd3e54089c2a545fd3d.mo.png
  translated_images/install-app.35a2210b4eadb0e9c081206925cb1f305ccb6e214d4bf006c4ea83dcbeec4f50.mo.png
  translated_images/install-authorize.9338f61fc59df13d55042bb32a69c7f581339e0ea11ada503b83908681c485bd.mo.png
  translated_images/logo_v.a23aa2a13b029ee2770a0443ea2b8ac5d7fa5be77c165c546924218d386a515b.mo.png
  translated_images/multi-language-support.db20b20eee4979a2493412428b34fb2055b95a47ff371e14dbbfc825a1b37a1c.mo.png
  translated_images/open-ms-thumbnail.efccad9ffa49d0d5ba770919408384be68c6f5ea7e79c06e22cea5a54db3110c.mo.jpg
  translated_images/permission-setting.cb1f57fdb5194f0743b1f6932f221e404ae2928ee88d77f1de39aba46fbf774a.mo.png
  translated_images/phi-3cookbook-folders.743dc4cae72f2ece42e2d70e4bd7bfa6568e1d4878b5d7acf9a568ed55bc1410.mo.png
  translated_images/reactor-thumbnail.c88b1972c8ed10e9a96b19554d78617bdf1324c2c951e895ba410a6654336645.mo.jpg
  translated_images/select-azureopenai-security-type.ba07acc6850ffcb1c4e84b6e2bbc046bfc7c60fb0dc51d7958ac83220f90f4e9.mo.png
  translated_images/select-setting-action.32e2394813d09dc148494f34daea40724f24ff406de889f26cbbbf05f98ed621.mo.png
  translated_images/translated-phi-3-cookbook-ko.9b7dcacc45ffb2674eca1101d2f5f672e6f088d0ce733b6ca7f234b8777f68bf.mo.png
  translated_images/translation-ex.e97fcdf09d27f56060939080a0b3e491e92b67e047ca005826cb3de11399907c.mo.png
  translations/mo/CODE_OF_CONDUCT.md
  translations/mo/CONTRIBUTING.md
  translations/mo/README.md
  translations/mo/SECURITY.md
  translations/mo/SUPPORT.md
  translations/mo/getting_started/command-line-guide/command-line-guide.md
  translations/mo/getting_started/command-line-guide/create-env-file.md
  translations/mo/getting_started/command-line-guide/install-package.md
  translations/mo/getting_started/command-line-guide/translator-your-project.md
  translations/mo/getting_started/command-reference.md
  translations/mo/getting_started/github-actions-guide/github-actions-guide-org.md
  translations/mo/getting_started/github-actions-guide/github-actions-guide-public.md
  translations/mo/getting_started/markdown-only-mode.md
  translations/mo/getting_started/set-up-azure-ai.md
  translations/mo/getting_started/supported-languages.md
  translations/mo/getting_started/troubleshooting.md
Labels: documentation

#146 Update README.md (Untranslated "Navigate to your project's root～")
  translations/ja/README.md
Labels: documentation

#148 Update Co-op Translator version to 0.8.7
  pyproject.toml
Labels: build

#149 Update README.md (Untranslated "Execute the translate command,～")
  translations/ja/README.md
Labels: documentation

#151 Update README.md (Untranslated "Detailed Usage Guides")
  translations/ja/README.md
Labels: documentation

#156 Update README.md (Untranslated "Requires: Local installation～")
  translations/ja/README.md
Labels: documentation

#157 Fix image filename hash inconsistency by normalizing path separators across OS
  src/co_op_translator/utils/common/file_utils.py
  tests/co_op_translator/utils/common/test_file_utils.py
Labels: tests

#160 Build: Update version to 0.8.8
  pyproject.toml
Labels: build

#127 Core: Add CLI-Based Translation Evaluation with LLM and Rule-Based Modes
  pyproject.toml
  src/co_op_translator/__main__.py
  src/co_op_translator/cli/__init__.py
  src/co_op_translator/cli/evaluate.py
  src/co_op_translator/cli/translate.py
  src/co_op_translator/core/llm/markdown_evaluator.py
  src/co_op_translator/core/llm/markdown_translator.py
  src/co_op_translator/core/llm/providers/azure/markdown_evaluator.py
  src/co_op_translator/core/llm/providers/openai/markdown_evaluator.py
  src/co_op_translator/core/llm/rule_based_evaluator.py
  src/co_op_translator/core/project/project_evaluator.py
  src/co_op_translator/core/project/project_translator.py
  src/co_op_translator/core/project/translation_manager.py
  src/co_op_translator/utils/common/metadata_utils.py
  src/co_op_translator/utils/llm/markdown_utils.py
  tests/co_op_translator/core/llm/test_markdown_evaluator.py
Labels: build, core, tests

#158 Update README.md (Untranslated "Guide: [Command Line Guide]～")
  translations/ja/README.md
Labels: documentation

#169 Core: Remove inline code placeholders to fix partial translation issues
  src/co_op_translator/core/llm/markdown_evaluator.py
  src/co_op_translator/core/llm/markdown_translator.py
  src/co_op_translator/utils/llm/markdown_utils.py
  tests/co_op_translator/core/llm/test_markdown_translator.py
Labels: core, tests

#162 Update README.md (Untranslated "Best for: Automatically translating～")
  translations/ja/README.md
Labels: documentation
