Repository Azure/co-op-translator, pull requests merged in 2025-03, with the labels that each got.

#89 Docs: Improve readability for README.md
  README.md
Labels: documentation

#90 Update translator-your-project.md
  getting_started/translator-your-project.md
Labels: documentation

#91 Build: Implement GitHub Actions for Co-op Translator
  .env.template
  .github/workflows/co-op-translator.yml
  README.md
  getting_started/command-line-guide/command-line-guide.md
  getting_started/command-line-guide/create-env-file.md
  getting_started/command-line-guide/install-package.md
  getting_started/command-line-guide/translator-your-project.md
  getting_started/github-actions-guide/github-actions-guide.md
  imgs/add-secrets-done.png
  imgs/permission-setting.png
  imgs/select-setting-action.png
Labels: documentation, build

#92 Docs: Improve readability for README.md
  README.md
Labels: documentation

#94 Updated case studies section with a table of official projects
  README.md
  getting_started/Phi-3Cookbook-translation-case.md
Labels: documentation

#95 Delete unused headline
  README.md
Labels: documentation

#93 Core: Improve Image Annotation Engine for Co-op Translator
  .gitignore
  CONTRIBUTING.md
  getting_started/command-reference.md
  getting_started/supported-languages.md
  poetry.lock
  pyproject.toml
  requirements.txt
  src/co_op_translator/__main__.py
  src/co_op_translator/config/constants.py
  src/co_op_translator/config/font_config.py
  src/co_op_translator/core/llm/markdown_translator.py
  src/co_op_translator/core/llm/text_translator.py
  src/co_op_translator/core/project/project_translator.py
  src/co_op_translator/core/project/translation_manager.py
  src/co_op_translator/core/vision/image_translator.py
  src/co_op_translator/fonts/NotoSansArabic-Medium.ttf
  src/co_op_translator/fonts/font_language_mappings.yml
  src/co_op_translator/utils/llm/markdown_utils.py
  src/co_op_translator/utils/vision/image_utils.py
Labels: documentation, language-support, build, core

#98 Clarify `pt` Mapping to `pt-PT` and Support Brazilian Portuguese `br` Locale
  getting_started/supported-languages.md
  src/co_op_translator/fonts/font_language_mappings.yml
Labels: documentation, language-support

#99 Update GitHub Actions template for enterprise compatibility
  .github/workflows/co-op-translator.yml
  examples/github-actions/co-op-translator.yml
  getting_started/command-line-guide/create-env-file.md
  imgs/add-secrets-done.png
  imgs/generate-private-key.png
  imgs/retrieve-app-id.png
  imgs/select-app-settings.png
Labels: documentation

#100 Core: Update disclaimer to include the Co-op Translator link
  src/co_op_translator/core/llm/markdown_translator.py
Labels: core

#101 Build: Update version to v0.8.0-test
  pyproject.toml
Labels: build

#102 Build: Update version to 0.8.0.dev0
  pyproject.toml
Labels: build

#105 Update instructions
  getting_started/command-line-guide/create-env-file.md
  getting_started/command-line-guide/install-package.md
Labels: documentation

#107 Docs: Showcase official Microsoft repos using Co-op Translator
  README.md
Labels: documentation

#108 Update command-reference.md
  getting_started/command-reference.md
Labels: documentation
