Repository Azure/co-op-translator, pull requests merged in 2025-07, with the labels that each got.

#167 Update supported-languages.md (Broken Link "「Co-op Translator」")
  translations/ja/getting_started/supported-languages.md
Labels: documentation

#171 Update troubleshooting.md (Untranslated "`` are added.")
  translations/ja/getting_started/troubleshooting.md
Labels: documentation

#173 Update set-up-azure-ai.md (Untranslated "Note")
  translations/ja/getting_started/set-up-azure-ai.md
Labels: documentation

#177 Docs: Update Korean translation with latest Co-op Translator
  translated_images/add-secrets-done.444861ce6956d5cb20781ead1237fcc12805078349bb0d4e95bb9540ee192227.ko.png
  translated_images/architecture_241019.9c22463ff13adfbfadd1b432682817c89119b97a589aedbc8d56b220f3c66da2.ko.png
  translated_images/co-op-translator-example.d0bbac28b9d4a2a3629ada99b876df2ffd296b89dcd646cd796deafff51b0611.ko.png
  translated_images/install-app.d0f0a24cbb1d6c93f293f002eb34e633f7bc8f5caaba46b97806ba7bdc958f27.ko.png
  translated_images/install-authorize.29df6238c3eb8f707e7fc6f97a946cb654b328530c4aeddce28b874693f076a0.ko.png
  translated_images/logo_v.dbda2b4524348860180088012c9c8739391b0ce45f409c0893875f942015d6d6.ko.png
  translated_images/permission-setting.ae2f02748b0579e7dc3633f14dad67005b533ea8f69890818857de058089a7f5.ko.png
  translated_images/select-setting-action.3b95c915d60311592ca51ecb91b3a7bbe0ae45438a2ee872c1520dc90b677780.ko.png
  translated_images/translated-phi-3-cookbook-ko.261d9206dc049ded34fa679892ba3b22903c741f882d0f8738dda6b4233f26ae.ko.png
  translations/ko/CODE_OF_CONDUCT.md
  translations/ko/CONTRIBUTING.md
  translations/ko/README.md
  translations/ko/SECURITY.md
  translations/ko/SUPPORT.md
  translations/ko/getting_started/command-line-guide/command-line-guide.md
  translations/ko/getting_started/command-line-guide/create-env-file.md
  translations/ko/getting_started/command-line-guide/install-package.md
  translations/ko/getting_started/command-line-guide/translator-your-project.md
  translations/ko/getting_started/command-reference.md
  translations/ko/getting_started/github-actions-guide/github-actions-guide-org.md
  translations/ko/getting_started/github-actions-guide/github-actions-guide-public.md
  translations/ko/getting_started/markdown-only-mode.md
  translations/ko/getting_started/set-up-azure-ai.md
  translations/ko/getting_started/supported-languages.md
  translations/ko/getting_started/troubleshooting.md
Labels: documentation

#178 Build: Update version to 0.9.0
  pyproject.toml
Labels: build

#175 Update troubleshooting.md (Broken Link "「Co-op Translator」")
  translations/ja/getting_started/troubleshooting.md
Labels: documentation

#186 Core: Add CLI option for selective notebook file translation (-n/--notebook)
  src/co_op_translator/cli/translate.py
  src/co_op_translator/core/llm/jupyter_notebook_translator.py
  src/co_op_translator/core/llm/markdown_translator.py
  src/co_op_translator/core/project/project_translator.py
  src/co_op_translator/core/project/translation_manager.py
  src/co_op_translator/utils/common/file_utils.py
  tests/co_op_translator/core/llm/test_jupyter_notebook_translator.py
  tests/co_op_translator/core/project/test_jupyter_notebook_integration.py
  tests/co_op_translator/core/project/test_project_translator.py
Labels: core, tests

#180 Docs: Update troubleshooting.md (Untranslated "`` are added.")
  translations/ja/getting_started/troubleshooting.md
Labels: documentation

#166 Core: Improve error messages in translator modules
  src/co_op_translator/core/llm/markdown_evaluator.py
  src/co_op_translator/core/llm/markdown_translator.py
  src/co_op_translator/core/project/project_evaluator.py
  src/co_op_translator/core/project/project_translator.py
  src/co_op_translator/core/vision/image_translator.py
Labels: core

#181 Update troubleshooting.md (Untranslated "**Solution:** Adjust～")
  translations/ja/getting_started/troubleshooting.md
Labels: documentation

#188 Update install-package.md (Typo "![NOTE]"→"> [!NOTE]")
  getting_started/command-line-guide/install-package.md
Labels: documentation

#183 Update README.md (Untranslated "Language Support")
  translations/ja/README.md
Labels: documentation

#184 Update create-env-file.md (Untranslated "set-up-azure-ai.md")
  translations/ja/getting_started/command-line-guide/create-env-file.md
Labels: documentation

#196 Update README.md Discord badge
  README.md
Labels: documentation
