Repository Azure/co-op-translator, pull requests merged in 2025-02, with the labels that each got.

#79 Core: Improve retranslation progress bar and fix duplicate output bug
  poetry.lock
  pyproject.toml
  src/co_op_translator/__main__.py
  src/co_op_translator/core/project/translation_manager.py
Labels: bug, build, core

#80 Docs: Clean up Docs for Azure AI Foundry
  getting_started/create-env-file.md
  getting_started/install-package.md
  getting_started/set-up-resources/set-up-azure-computer-vision.md
  getting_started/set-up-resources/set-up-azure-openai.md
  imgs/foundry-model-info.png
  imgs/foundry-overview.png
  imgs/foundry-resources.png
  imgs/gpt-models.png
Labels: documentation

#82 Docs: Add troubleshooting guide
  README.md
  getting_started/troubleshooting.md
Labels: documentation

#84 Improve the translation prompt to fix the issue where Co-op Translator adds unnecessary triple backticks (''') when generating markdown translations
  .github/workflows/label-title-prefix.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/python-publish.yml
  src/co_op_translator/utils/llm/markdown_utils.py
  tests/co_op_translator/core/project/test_project_translator.py
Labels: bug, tests

#85 Core: Fix orphaned translation files not being deleted when original files are renamed
  src/co_op_translator/__main__.py
  src/co_op_translator/config/llm_config/azure_openai.py
  src/co_op_translator/config/llm_config/openai.py
  src/co_op_translator/core/project/directory_manager.py
  src/co_op_translator/core/project/translation_manager.py
  tests/co_op_translator/core/project/test_project_translator.py
Labels: bug, core, tests

#86 Build: Update version to 0.7.2b1
  pyproject.toml
Labels: build

#87 Build: Improve the translation prompt to fix the issue where Co-op Translator adds unnecessary triple backticks (''') when generating markdown translations and update version to 0.6.5
  pyproject.toml
  src/co_op_translator/utils/llm/markdown_utils.py
Labels: build
